<!DOCTYPE html>
<html lang="english">
 
  <%- include('layouts/header'); -%>

    <body>
      <div>
        <link href="/css/payWaiting.css" rel="stylesheet" />
          <div class="waiting-for-payment-confirmation-container">
            <div class="waiting-for-payment-confirmation-waitingforonlinepayment">
              <div class="waiting-for-payment-confirmation-container1">
                <%- include('layouts/navbar'); -%>
                <h1 class="waiting-for-payment-confirmation-text06">
                  <span>Waiting for online payment</span>
                </h1>
                <form action="/storePaySuccess/<%= record._id %>" method="POST" name="storePaySuccess">
                  <div class="waiting-for-payment-confirmation-container3">
                    <% if (book.coverLink) {%>
                      <img
                        alt="AlanTuringbook28573"
                        src="<%= book.coverLink %>"
                        class="waiting-for-payment-confirmation-alan-turingbook2"
                      />
                      <%} else {%> 
                        <img
                        alt="AlanTuringbook28520"
                        src="/playground_assets/alanturingbook28520-8axk-500h.png"
                        class="waiting-for-payment-confirmation-alan-turingbook2"
                      />
                      <%} %>
                    <article class="waiting-for-payment-confirmation-container4">
                      <p class="waiting-for-payment-confirmation-text08">
                        <span class="waiting-for-payment-confirmation-text09">Book name: </span>
                        <span></span>
                        <span class="waiting-for-payment-confirmation-text11"><%= book.title %> </span>
                      </p>
                      <p class="waiting-for-payment-confirmation-text12">
                        <span class="waiting-for-payment-confirmation-text13">Total fee: </span>
                        <span></span>
                        <span class="waiting-for-payment-confirmation-text15"><%= record.paymentAmount %>.000 VND</span>
                      </p>
                      <p class="waiting-for-payment-confirmation-text16">
                        <span>
                          <span>Your online payment is processing...</span>
                          <br />
                          <span></span>
                          <br />
                          <span>Please wait for a few minutes.</span>
                        </span>
                      </p>
                      <button
                        type="submit"
                        class="waiting-for-payment-confirmation-continue button"
                      >
                        Continue
                      </button>
                      <br>
                    </article>
                  </div>
                </form>
              </div>
            </div>
          </div>
      </div>
      <!--footer-->
      <%- include('layouts/footer'); -%>
    </body>
</html>